{
  "presets": ["env", "stage-2"],
  "plugins": [
    "syntax-jsx",
    "transform-decorators-legacy",
    [
      "transform-react-jsx",
      {
        "pragma": "Element.createElement"
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
